/* body {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
} */

img {
  margin: 20px 0;
  max-width: 200px;
}

h1.is-light {
    color: hsl(0, 0%, 96%);
}

nav.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

#widget {
  position: absolute;
  right: -4px;
  top: -4px;
}

.books-content {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.tr-balance {
  font-weight: bold;
}

.tr-expense {
  color: hsl(348, 100%, 61%);
}

.tr-earning {
  color: hsl(217, 71%, 53%);
}

.tr-book-delete {
  color: hsl(348, 100%, 61%);
}

form.tr-input-field {
  font-size: 1rem;
}

#tr-input-price {
  text-align: right;
}

.books-content .subtitle {
  text-decoration: underline;
}

p.tr-day {
  font-size: 1.4em;
  color: hsl(0, 0%, 21%);
  /* color: grey; */
}

p.tr-month {
  font-size: 0.9em;
  color: grey;
}

span.tr-expense {
  font-size: 1.3em;
  color: hsl(348, 100%, 61%);
}

span.tr-earning {
  font-size: 1.3em;
  color: hsl(217, 71%, 53%);
}

.tr-description {
  font-style: italic;
  color: grey;
}

table > tbody > tr > td.tr-center {
  text-align: center;
  vertical-align: middle;
}

table > tbody > tr > td.tr-right {
  text-align: right;
  vertical-align: middle;
}

table > tbody > tr > td.tr-left {
  text-align: left;
  vertical-align: middle;
}

/* .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:150px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#header {
  background: #ededed;
  padding: 10px;
}
#root {
  padding-bottom: 150px;
}
#footer {
  background: white;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  vertical-align: bottom;
}