/* body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
} */

img {
  margin: 20px 0;
  max-width: 200px;
}

h1.is-light {
    color: hsl(0, 0%, 96%);
}

nav.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

#widget {
  position: absolute;
  right: -4px;
  top: -4px;
}

.books-content {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.tr-price {
  color: red;
}

.tr-earning {
  color: blue;
}